:root {
    --primary: #0a3151; 
    --secondary: #b22234;
    --header-text: white;
    --text: black;
    --accents: #ffd700;
    --background: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    overflow-wrap: break-word;
    height: 100%; /* Ensure text fits into its box */
}

header {
    background-color: var(--primary);
    color: var(--header-text);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted to space elements */
    max-width: 1400px; /* Set maximum width */
    margin: 0 auto; /* Center the header */
}

header .icon-image img {
    height: 75px;
    background-color: var(--background);
}

header .header-text {
    flex: 1;
    text-align: center; /* Center the text */
}

header .header-text h1 {
    margin: 0;
}

.main-nav {
    text-align: center;
    font-size: 1.2rem; /* Increased font size */
    background-color: var(--secondary);
    padding: 1rem 0; /* Added top and bottom padding */
    max-width: 1400px; /* Set maximum width */
    margin: 0 auto; /* Center the nav */
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Doubled the gap */
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    cursor: pointer;
}

.main-nav ul li a {
    color: var(--header-text); /* Changed text color to white */
    text-decoration: none; /* Removed underline */
}

header .hamburger {
    display: none;
}

main {
    padding: 1rem;
    max-width: 1200px; /* Set maximum width */
    margin:0 auto;
}

h2 {
    text-align: center; /* Center the Member Directory heading */
}

.menu {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.menu button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--header-text);
    cursor: pointer;
    border-radius: 5px;
}

.menu button:hover {
    background-color: var(--secondary);
}

#members-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
}

#members-container.list-layout {
    display: block;
}

.member {
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.member img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.member h3 {
    margin: 0.5rem 0;
}

.member p {
    margin: 0.25rem 0;
}

footer {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    background-color: var(--primary);
    color: var(--header-text);
    padding: 1rem;
    text-align: center;
    max-width: 1400px; /* Set maximum width */
    margin: 0 auto; /* Center the footer */
}

footer .contact {
    text-align: left; /* Left-align contact */
}

footer .social {
    text-align: center; /* Center-align social */
}

footer .legal {
    text-align: right; /* Right-align legal */
}

footer div {
    margin-bottom: 1rem;
}

.directory-container {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center all elements */
    gap: 1rem;
}

.hero-image {
    background-image: url("/wdd231/chamber/images/st_george_large.png");
    height: 498px;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: var(--header-text);
}

.hero-text button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--background);
    color: var(--text);
    cursor: pointer;
    border-radius: 5px;
}

.home-header {
    text-align: left;
}

.home-content {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.home-card {
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    flex: 1;
}

.members-section {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.member-card {
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.list-item {
    margin: 1em;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }

    header .hamburger {
        display: block;
    }

    .directory-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    #members-container {
        grid-template-columns: 1fr;
    }

    .header-text {
        display: none;
    }

    footer {
        display: block; /* Display footer as block on smaller screens */
    }

    footer .contact, footer .social, footer .legal {
        text-align: center; /* Center-align all footer sections on smaller screens */
    }

    .main-nav {
        display: none;
    }
    
    .nav-show {
        display: flex;
        flex-direction: column;
    }

    .nav-show ul {
        display: block;
    }

    .nav-show ul li {
        margin: 1rem;
    }

    .hero-image {
        background-image: url("/wdd231/chamber/images/red_cliffs_temple.png")
    }

    .home-content {
        flex-direction: column;
    }

    .members-section {
        flex-direction: column;
    }
}


